
/*================================ TYPOGRAPHY ============================*/

@font-face {
    font-family: 'distant_galaxyregular';
    src: url('../fonts/DISTGRG_-webfont.eot');
    src: url('../fonts/DISTGRG_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DISTGRG_-webfont.woff') format('woff'),
         url('../fonts/DISTGRG_-webfont.ttf') format('truetype'),
         url('../fonts/DISTGRG_-webfont.svg#distant_galaxyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

p, .project h1 {
  font-family: 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

 



/*=========================== NAME / LOGO ==========================================*/

.name {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 5em;
  color: yellow;
  text-align: center;
  z-index: 9999;
  background-color: transparent;
  transform: scale(0);
  animation: pop 500ms linear 2s 1;
  animation-fill-mode: forwards;
  z-index: 9999;
}

.name h1 {
  font-family: 'distant_galaxyregular';
  -webkit-font-smoothing: antialiased;
  letter-spacing: .02em;
  color: black;
  text-shadow: -1px -1px 0 #ff0, 1px -1px 0 #ff0, -1px 1px 0 #ff0, 1px 1px 0 #ff0;
  font-size: 2.7em;
  margin: 0;
}

.name h3 {
  font-family: 'distant_galaxyregular';
  -webkit-font-smoothing: antialiased;
  font-size: 1.5em;
  margin: 0;
  color: white;
  font-weight: 100;
}

@keyframes pop {
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}


/*=============================== STAR WARS(TM) SCROLL TEXT =========================*/

body {
  background-image: url('../images/space.jpg');
  background-attachment: fixed;
}

#midground {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent url('../images/midground.svg') center repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 999;
  /*transition: background-position .5s ease-out;*/
}

.titles {
  color: yellow;
  position: absolute;
  width: 100%;
  height: 50em;
  bottom: -0.25em;
  left: 0%;
  font-size: 150%;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  -webkit-transform-origin: 50% 101%;
  -moz-transform-origin: 50% 101%;
  -ms-transform-origin: 50% 101%;
  -o-transform-origin: 50% 101%;
  transform-origin: 50% 101%;
  -webkit-transform: perspective(300px) rotateX(25deg);
  -ms-transform: perspective(300px) rotateX(25deg);
  -o-transform: perspective(300px) rotateX(25deg);
  transform: perspective(300px) rotateX(25deg);
}

.titles:after {
  position: absolute;
  content: ' ';
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 3%, transparent 100%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,1) 3%, transparent 100%);
  background-image: linear-gradient(top, rgba(0,0,0,1) 3%, transparent 100%);
  pointer-events: none;
}

.titlecontent {
  position: absolute;
  top: 100%;
  animation: scroll 95s linear 2s infinite;
}

@keyframes scroll {
  0% {top: 100%;}
  100% {top: -50%;}
}

/*====================================== WORK EXAMPLES SECTION =====================================*/


.work-examples {
  position: absolute;
  top: 100vh;
  width: 100vw;
  border-top: 8px solid yellow;
  background-color: black;
}

.project:nth-child(even) img {
  order: 2;
}

.project {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: yellow;
  margin-top: 2em;
}

.project a {
  text-transform: uppercase;
  color: yellow;
  text-shadow: 0 0 0 green;
  transition: text-shadow .4s;
}

.project a:hover {
  text-shadow: 0 0 18px blueviolet;
}

.project > h1 {
  text-align: center;
  font-size: 1.7em;
  flex: 0 1 100%;
  margin-bottom: 1.3em;
}

.project img {
  margin: 0 auto;
  max-width: 100vw;
  max-height: 200px;
}

.project p {
  font-size: 1em;
  margin: 1.3em auto;
  flex: 0 1 65%;
  align-self: center;
}

/*================================= FOOTER ===========================*/

footer {
  color: yellow;
  text-align: center;
  border-top: 4px solid yellow;
}

.sub-text {
  color: gray;
  opacity: 0.5;
  font-size: .5em;
}

.fa {
  font-size: 1.7em;
  margin: 0 0.5em;
}

.fa-github {
  color: white;
}

.fa-twitter {
  color: #3F8DC9;
}

.fa-google-plus {
  color: #DB4437;
}

.fa-linkedin {
  color: #0677B4;
}

/*====================================== MEDIA QUERIES =========================================*/

@media only screen and (min-width: 500px) {
  .name h1 {
    font-size: 5.2em;
  }
}

@media only screen and (min-width: 700px) {
  .name h1 {
    font-size: 5em;
  }

  .name h3 {
    font-size: 2.5em;
  }

  .name {
    margin-top: 3em;
  }

  .titles {
    font-size: 250%;
  }
}

@media only screen and (min-width: 840px) {
  .project p {
    flex: 0 1 42%;
    line-height: 1.4em;
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1000px) {
  .titles {
    font-size: 350%;
    height: 38em;
  }
}